.hero{
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 1fr;
    /* padding: 2rem 15rem 2rem 2rem; */
    padding: 10rem 2rem 2rem 2rem;
  }
  
  .hero::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    border-top-width: 65vh;
    border-top-style: solid;
    border-image: url(../images/background.svg) ;
    border-right: 100vw solid transparent;
  
    /* background: url(./images/background.svg) no-repeat center center fixed;
    background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain; 
    linear-gradient(to right top, #e32b9f, #ff4172, #ff7545, #ffaa19, #dfda22);*/
    z-index: -1;
  }
  
  
  .hero-content h1{
    font-size: 3rem;
  }
  .hero-content p{
    color: rgb(111, 106, 106);
  }
  .btn-start{
    font-size: 1.2rem;
  }
  .btn-start:hover{
    background-color: rgb(63, 177, 139);
  }
  
  .hero-image{
    display: none;
  }

@media only screen and (min-width: 750px) {
    .hero{
      grid-template-columns: 3fr 1.3fr;
      padding: 7rem 2rem 2rem 2rem;
      gap: 1rem 1rem;
    }
    .hero-image{
      display: block;
    }
}