body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  padding: 1rem 2rem 2rem 2rem;
}

[class*="btn-"]{
  color: white;
  padding: 5px 10px 5px 10px;
  background-color: black;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}