nav{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 1.1rem;
    z-index: 1;
    position: relative;
}

.nav-item{
    display: none;
}
.nav-item .sub-menu{
    text-transform: capitalize;
    font-weight: 500;
}

.btn-signIn{
    font-size: 1.1rem;
    display: none;
}
.btn-toogleMenu{
    display: block;
}

@media only screen and (min-width: 750px) {

    .nav-item{
        display: flex;
        flex-basis: 40%;
        flex-direction: row;  
        justify-content: space-between; 
    }
    .btn-toogleMenu{
        display: none;
    }
    .btn-signIn{
        font-size: 1.1rem;
        display: block;
    }
}